.row
  .col-xs-12.col-sm-4{ "ng-repeat" => "a_type in types" }
    .panel.panel-default
      .panel-heading.text-center
        {{a_type}}
      .panel-body
        .text-center
          .skill{ "ng-repeat" => "skill in skills | filter: { type: a_type }" }
            {{skill.name}}
  