.row
  .col-xs-12.col-sm-6
    .panel.panel-default{"ng-class"=>"status_background_class"}
      .panel-heading.text-center
        Device Checker
      .panel-body
        .text-center
          Test
